Hi this is Ashwini's page <a href="/">Go Home</a>
<h2 style= "text-align:center;">
    Hi everyone, I am Ashwini Managuli.
</h2>
<h3>
    <p>This is my first semester at SFSU, pursuing a Master's degree in Computer Science. I completed my Bachelor's in Computer Science in India.</p>
    <p>In my spare time, I play a lot of badminton. Listening to music and playing the piano is something I set aside time for too. I hope to master playing the guitar someday.</p>
    <p>I absolutely love amusement parks.</p>
    <p>I'm excited to work with you all this semester!</p>
</h3>