Hi this is Bryan's page <a href="/">Go Home</a>

<h2 style= "text-align:center;"> 
	Hi everyone, I am Bryan Fetner.
</h2>
<h3> <p>I am currently attending SFSU with the goal of obtaining a Bachelor's degree in Computer Science in the Fall of 2021. I plan on hopefully entering the tech work field in 2022.</p>
    <p>In my free time, I enjoy geeky hobbies such as watching films based off of comic books, and playing videogames.</p> 
    <p>I am a long time resident of San Francisco, and though I do enjoy living here, I'm hoping my move into the tech industry will provide me opportunities that may land me in other areas. Though the thought of leaving my long time home is a bit scarey.</p>
</h3>