Hi this is Rebecca's page <a href="/">Go Home</a>

<h2 style= "text-align:center;"> 
	Hi everyone, I am Rebecca Zumaeta.
</h2>
<h3> I plan on graduating with my bachelors in Computer Science in May and continue my educational journey by attending graduate school in the fall. During my free time I like to watch youtube and anime, listen to music, research computer parts, draw and craft, play video games and hang out with friends. If you would like to be friends feel free to reach out! I am looking forward to be learning with you all this semester!
</h3>